.buttons:has( + code.language-nazm) {
    position: absolute;
    left: 0px;
    right: unset;
}

code.language-nazm {
    direction: rtl !important;
}

.buttons:has( + code.rtl) {
    position: absolute;
    left: 0px;
    right: unset;
}

code.rtl {
    direction: rtl !important;
}